#refiner-trainer-div {
  position: absolute;
  left: 65%;
  height: 50%;
  top: 50%;
  width: 30%;
  background-image: url(images/Layout/Converters/Background.png);
  background-size: 100% 100%; }
  #refiner-trainer-div #refiner-trainer-title {
    position: absolute;
    left: 50%;
    height: 18%;
    top: 5%;
    width: 60%;
    transform: translateX(-50%);
    background-image: url(images/Layout/Converters/Title.png);
    background-size: 100% 100%; }
    #refiner-trainer-div #refiner-trainer-title #refiner-trainer-title-text {
      position: absolute;
      font-size: 6vh;
      font-weight: 800;
      height: 7.12vh;
      line-height: 7.12vh;
      left: 50%;
      transform: translateX(-50%);
      top: 10%; }
    
  #refiner-trainer-div #refiner-trainer-selector {
    position: absolute;
    height: 18%;
    width: 25%;
    left: -25%;
    top: 15%;
    background-size: 100% 100%;
    background-image: url(images/Layout/Converters/SideBoard.png); }
    #refiner-trainer-div #refiner-trainer-selector #refiner-button {
      position: relative;
      height: 50%;
      width: 100%; }
    #refiner-trainer-div #refiner-trainer-selector #trainer-button {
      position: relative;
      height: 50%;
      width: 100%; }
  #refiner-trainer-div #refiner-trainer-area {
    position: absolute;
    width: 80%;
    height: 70%;
    left: 10%;
    overflow:hidden;
    top: 20%; }
    
    #refiner-trainer-div #refiner-trainer-area #manpower-count-div {
        position: absolute;
        top: 4%;
        width: 95%;
        left: 50%;
        transform: translateX(-50%);
        height: 20%;
        background-image: url(images/Layout/Player/Skills/SkillPointBackground.png);
        background-size: 100% 100%;
    }

        #refiner-trainer-div #refiner-trainer-area #manpower-count-div #manpower-count-repo {
            position: absolute;
            top: 50%;
            text-align:center;
            transform: translateY(-50%);
            width: 100%;
            font-size: 3vh;
            font-weight: 800;
        }
    
    #refiner-trainer-div #refiner-trainer-area #manpower-count-separator {
        position: absolute;
        height: 10%;
        width: 100%;
        top: 24%;
        background-image: url(images/Layout/Player/Skills/Separator.png);
        background-size: 100% 100%;
    }
    #refiner-trainer-div #refiner-trainer-area #trainer-repo {
        display:none;
        position: absolute;
        width: 95%;
        height: 65%;
        left: 2.5%;
        top: 35%;
        overflow-y: scroll;
    }
    #refiner-trainer-div #refiner-trainer-area #Recruit-button {
        position: absolute;
        width: 10%;
        height: 10.65%;
        left: 10%;
        top: 9%;
    }
      #refiner-trainer-div #refiner-trainer-area #trainer-repo .trainer-block {
        position: relative;
        width: 100%;
        display: inline-block;
        height: 72%;
        margin-bottom: 1%;
        background-size: 100% 100%;
        background-image: url(images/Layout/Converters/Cubicle.png); }
        #refiner-trainer-div #refiner-trainer-area #trainer-repo .trainer-block .trainer-sprite {
          position: absolute;
          width: 40%;
          height: 82%;
          top: 9%;
          left: 5%;
          background-size: 100% 100%;
          background-image: url(images/Sample/Converter/Courtier.png); }
        #refiner-trainer-div #refiner-trainer-area #trainer-repo .trainer-block .trainer-desc {
          position: absolute;
          width: 55%;
          left: 45%;
          height: 100%; }
            #refiner-trainer-div #refiner-trainer-area #trainer-repo .trainer-block .trainer-desc .trainer-name {
                position: relative;
                margin-top: 8%;
                text-align: center;
                font-size: 1.8vh;
                font-weight: 800;
                width: 100%;
            }
            #refiner-trainer-div #refiner-trainer-area #trainer-repo .trainer-block .trainer-desc .trainer-count {
                position: relative;
                text-align: center;
                font-size: 2vh;
                width: 100%;
            }
            #refiner-trainer-div #refiner-trainer-area #trainer-repo .trainer-block .trainer-desc .trainer-calibrator {
                position: relative;
                width: 100%;
                height: 20%;
                left: 52%;
                z-index:3;
                transform: translateX(-50%);
            }
            #refiner-trainer-div #refiner-trainer-area #trainer-repo .trainer-block .trainer-desc .trainer-calibrator .trainer-calibrator-left-arrow {
              position: relative;
              margin-left: 7%;
              height: 100%;
              width: 11%;
              z-index:3;
              display: inline-block;
              background-size: 100% 100%;
              background-image: url(images/Layout/Converters/arrow_left.png); }
                #refiner-trainer-div #refiner-trainer-area #trainer-repo .trainer-block .trainer-desc .trainer-calibrator .trainer-calibrator-text {
                    position: absolute;
                    height: 100%;
                    width: 55%;
                    text-align: center;
                    display: inline-block;
                    font-size: 1.5vh;
                    font-weight: 800;
                    text-overflow: ellipsis;
            }
            #refiner-trainer-div #refiner-trainer-area #trainer-repo .trainer-block .trainer-desc .trainer-calibrator .trainer-calibrator-right-arrow {
              position: relative;
              margin-right: 7%;
              left: 60%;
              height: 100%;
              width: 11%;
              z-index:3;
              display: inline-block;
              background-size: 100% 100%;
              background-image: url(images/Layout/Converters/arrow_right.png); }
            #refiner-trainer-div #refiner-trainer-area #trainer-repo .trainer-block .trainer-desc .trainer-train {
                display: inline-block;
                position: relative;
                left: 25%;
                height: 30%;
                width: 22.15%;
                z-index:3;
                margin-right: 30%;
                background-size: 100% 100%;
                background-image: url(images/Layout/Converters/ButtonFrame.png);
            }
          #refiner-trainer-div #refiner-trainer-area #trainer-repo .trainer-block .trainer-desc .trainer-untrain {
            position: relative;
            display: inline-block;
            height: 30%;
            width: 22.15%;
            z-index:3;
            background-size: 100% 100%;
            background-image: url(images/Layout/Converters/ButtonFrame.png); }
    #refiner-trainer-div #refiner-trainer-area #refiner-repo {
        position: absolute;
        width: 95%;
        height: 65%;
        left: 2.5%;
        top: 35%;
        overflow-y: scroll;
    }
      #refiner-trainer-div #refiner-trainer-area #refiner-trainer-slider {
        position: absolute;
        width: 95%;
        height: 65%;
        left: 2.5%;
        top: 35%;
    }
      #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block {
        position: relative;
        width: 100%;
        display: inline-block;
        height: 72%;
        margin-bottom: 1%;
        background-size: 100% 100%;
        background-image: url(images/Layout/Converters/Cubicle.png); }
        #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block .refiner-sprite {
            position: absolute;
            width: 40%;
            height: 82%;
            top: 9%;
            left: 5%;
            background-size: 100% 100%;
        }
        #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block #Recruiter-sprite{
        background-image: url(images/Actual/RefinerTrainer/Recruiter.png); }
        #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block #Woodworker-sprite{
        background-image: url(images/Actual/RefinerTrainer/Woodworkers.png); }
        #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block #Couturier-sprite{
        background-image: url(images/Actual/RefinerTrainer/Courtier.png); }
        #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block #ManaRefiner-sprite{
        background-image: url(images/Actual/RefinerTrainer/ManaRefiner.png); }
        #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block .refiner-desc {
          position: absolute;
          width: 55%;
          left: 45%;
          height: 100%; }
            #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block .refiner-desc .refiner-name {
                position: relative;
                margin-top: 8%;
                text-align: center;
                font-size: 2vh;
                font-weight: 800;
                width: 100%;
            }
            #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block .refiner-desc .refiner-count {
                position: relative;
                text-align: center;
                font-size: 2vh;
                width: 100%;
            }
          #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block .refiner-desc .refiner-calibrator {
            position: relative;
            width: 100%;
            height: 20%;
            left: 52%;
            z-index:3;
            transform: translateX(-50%); }
            #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block .refiner-desc .refiner-calibrator .refiner-calibrator-left-arrow {
              position: relative;
              margin-left: 7%;
              height: 100%;
              width: 11%;
              z-index:3;
              display: inline-block;
              background-size: 100% 100%;
              background-image: url(images/Layout/Converters/arrow_left.png); }
            #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block .refiner-desc .refiner-calibrator .refiner-calibrator-text {
              position: absolute;
              height: 100%;
              width: 55%;
              text-align: center;
              display: inline-block;
              font-size: 1.5vh;
              font-weight: 800;
              text-overflow: ellipsis; }
            #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block .refiner-desc .refiner-calibrator .refiner-calibrator-right-arrow {
              position: relative;
              margin-right: 7%;
              left: 60%;
              height: 100%;
              z-index:3;
              width: 11%;
              display: inline-block;
              background-size: 100% 100%;
              background-image: url(images/Layout/Converters/arrow_right.png); }
            #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block .refiner-desc .refiner-train {
                display: inline-block;
                position: relative;
                left: 25%;
                height: 30%;
                z-index:3;
                width: 22.15%;
                margin-right: 30%;
                background-size: 100% 100%;
                background-image: url(images/Layout/Converters/ButtonFrame.png);
            }
          #refiner-trainer-div #refiner-trainer-area #refiner-repo .refiner-block .refiner-desc .refiner-untrain {
            position: relative;
            display: inline-block;
            height: 30%;
            z-index:3;
            width: 22.15%;
            background-size: 100% 100%;
            background-image: url(images/Layout/Converters/ButtonFrame.png); }
