.resource-cell {
  display: inline-block;
  max-height: 100%;
  max-width: 18.5%; }

.resource-desc {
  height: 96%;
  width: 48%;
  position: absolute;
  transform: translate(110%, -100%);
  font-size: 2vh; }

#unit-repo {
  top: 6%;
  position: absolute;
  left: 5%;
  width: 90%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }

#unit-repo-slider {
    top: 6%;
    position: absolute;
    left: 5%;
    width: 90%;
    height: 100%;
    display: none;
}

.unit-cell {
  display: inline-block;
  width: 20%;
  height: 75%; }

.unit-desc {
  height: 30%;
  font-size: 2vh;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0%); }

#resource-unit-div {
  position: absolute;
  width: 45%;
  height: 27%;
  left: 10%;
  top: 71.5%; }
  #resource-unit-div #resource-unit-area {
    position: absolute;
    left: 65%;
    top: -10%;
    transform: translateX(-50%);
    height: 113%;
    width: 100%; }
    #resource-unit-div #resource-unit-area #toggle-track {
      position: absolute;
      top: 7%;
      right: -5%;
      height: 11%;
      width: 14%; }
    #resource-unit-div #resource-unit-area #toggle-button {
      position: absolute;
      top: 5.5%;
      right: 7%;
      height: 14%; }
    #resource-unit-div #resource-unit-area #resource-unit-title {
      position: absolute;
      width: 60%;
      height: 27%;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1; }
        #resource-unit-div #resource-unit-area #resource-unit-title #resource-unit-title-text {
            position: absolute;
            font-size: 4.5vh;
            font-weight: 800;
            height: 23.5%;
            line-height: 6.12vh;
            left: 50%;
            transform: translateX(-50%);
            top: -2%;
        }
    #resource-unit-div #resource-unit-area #unit-area {
      position: absolute;
      width: 95%;
      height: 75%;
      top: 21%;
      left: 50%;
      transform: translateX(-50%);
      display: none; }
    #resource-unit-div #resource-unit-area #primary-resource {
      position: absolute;
      width: 95%;
      height: 25%;
      top: 21%;
      left: 50%;
      transform: translateX(-50%); }
      #resource-unit-div #resource-unit-area #primary-resource #primary-resource-logo {
        position: absolute;
        left: 4%;
        height: 80%;
        width:4.89%;
        z-index: 1;
        top: 10%; }
        #resource-unit-div #resource-unit-area #primary-resource #primary-resource-logo #primary-resource-logo-text {
          position: absolute;
          font-size: 4vh;
          font-weight: 400;
          text-align: center;
          width:100%;
          transform: translateY(-50%);
          top: 50%; }
        #resource-unit-div #resource-unit-area #primary-resource #primary-resource-repo {
            top: 10%;
            position: absolute;
            left: 10%;
            width: 85%;
            height: 100%;
            overflow-x: scroll;
            overflow-y:hidden;
            padding-bottom: 17px;
            box-sizing: content-box;
            white-space: nowrap;
        }
        #resource-unit-div #resource-unit-area #primary-resource #primary-resource-repo .resource-cell {
            display: inline-block;
            max-height: 100%;
            max-width: 18.5%;
        }

        #resource-unit-div #resource-unit-area #primary-resource #primary-resource-repo .resource-desc {
            height: 96%;
            width: 48%;
            position: absolute;
            transform: translate(110%, -100%);
            font-size: 2vh;
        }
      #resource-unit-div #resource-unit-area #primary-resource #primary-resource-repo-slider {
        top: 10%;
        position: absolute;
        left: 10%;
        width: 85%;
        height: 100%;
        }
    #resource-unit-div #resource-unit-area #secondary-resource {
      position: absolute;
      width: 95%;
      height: 25%;
      top: 46.5%;
      left: 50%;
      transform: translateX(-50%); }
        #resource-unit-div #resource-unit-area #secondary-resource #secondary-resource-logo {
            position: absolute;
            left: 4%;
            height: 80%;
            width: 4.89%;
            z-index: 1;
            top: 10%;
        }
        #resource-unit-div #resource-unit-area #secondary-resource #secondary-resource-logo #secondary-resource-logo-text {
          position: absolute;
          font-size: 4vh;
          font-weight: 400;
          width:100%;
          text-align: center;
          transform: translateY(-50%);
          top: 50%; }
        #resource-unit-div #resource-unit-area #secondary-resource #secondary-resource-repo {
            top: 10%;
            position: absolute;
            left: 10%;
            width: 85%;
            height: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            padding-bottom: 17px;
            box-sizing: content-box;
            white-space: nowrap;
        }
        #resource-unit-div #resource-unit-area #secondary-resource #secondary-resource-repo-slider {
            top: 10%;
            position: absolute;
            left: 10%;
            width: 85%;
            height: 100%;
        }
    #resource-unit-div #resource-unit-area #tertiary-resource {
      position: absolute;
      width: 95%;
      height: 25%;
      top: 72%;
      left: 50%;
      transform: translateX(-50%); }
        #resource-unit-div #resource-unit-area #tertiary-resource #tertiary-resource-logo {
            position: absolute;
            left: 4%;
            height: 80%;
            width: 4.89%;
            z-index: 1;
            top: 10%;
        }
        #resource-unit-div #resource-unit-area #tertiary-resource #tertiary-resource-logo #tertiary-resource-logo-text {
          position: absolute;
          font-size: 4vh;
          width:100%;
          font-weight: 400;
          text-align: center;
          transform: translateY(-50%);
          top: 50%; }
        #resource-unit-div #resource-unit-area #tertiary-resource #tertiary-resource-repo {
            top: 10%;
            position: absolute;
            left: 10%;
            width: 85%;
            height: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            padding-bottom: 17px;
            box-sizing: content-box;
            white-space: nowrap;
        }
        #resource-unit-div #resource-unit-area #tertiary-resource #tertiary-resource-repo-slider {
            top: 10%;
            position: absolute;
            left: 10%;
            width: 85%;
            height: 100%;
        }
